@media print {     
	@page {       
		size: a5 landscape;         
		margin: 0mm;
		    
		@frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    
                    height: 4cm;
                } 
		}     
	html {       
		background-color: #000000;       
		margin: 0px;      
		}     
	body {       
		border: solid 0px #333;       
		margin: 10mm 15mm 10mm 15mm;        
		font-family: "Courier New", Courier, monospace;       
		/*font-size: 10px;*/
		font-size: 9pt !important;
		}
	
		
}
	